@import '../variables/color';

.AccordionComponent {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;

    @media screen and (min-width: 992px){
        flex-direction: row;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: center;
        min-width: 250px;
        max-width: 250px;
        padding: 25px;
        min-height: 75px;
        flex-direction: column;
        margin: 0 0 15px;
        border: 0;
        background:  transparent;
        cursor: pointer;
        border-radius: 6px!important;
        border: 0;
        color: map-get($colors, 'text');
        transition: {
            property: background-image;
            duration: 300ms;
            timing-function: ease;
        }

        &:before {
            position: absolute;
            content: '1';
            left: -5px;
            top: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(45deg, map-get($gradients, 'blue'));
            height: 30px;
            width: 30px;
            border-radius: 6px;
            font: {
                size: 20px;
                weight: 800;
            }
            color: white;
        }

        @for $i from 2 through 10 {
            &:nth-child(#{$i}){
                &:before {
                    content: '#{$i}';
                }
            }
        }
    }

    &__headerActive {
        background-image: linear-gradient(-45deg, map-get($gradients, 'neon'));
        color: white;
    }

    &__headerTitle {
        font: {
            size: 20px;
            weight: 500;
        }
        margin: 0 0 5px;
    }

    &__headerSubTitle {
        font: {
            size: 12px;
            weight: 400;
        }
    }

    &__toggleList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }

    &__body {
        position: relative;
        font: {
            size: 15px;
        }
    }

    &__step {
        display: inline-flex;
        align-items: center;
        padding: 7.5px 15px;
        margin-bottom: 15px;
        justify-content: center;
        background-image: linear-gradient(45deg, map-get($gradients, 'blue'));
        white-space: nowrap;
        border-radius: 6px;
        font: {
            size: 20px;
            weight: 800;
        }
        color: white;
    }

    &__icon {
        display: none;
        position: absolute;
        right: -40px;
        top: -40px;
        opacity: .1;
        color: map-get($colors, 'primary-light');
        font: {
            size: 400px;
        }

        @media screen and (min-width: 992px){
            display: block;
        }
    }

    &__bodyInner {
       display: block;
    }
}