@import '../variables/color';

.Cards {
    padding: 50px 0;

    &__title {
        margin-bottom: 30px;
        display: block;
        font: {
            size: 24px;
            weight: 500;
        }
    }

    &__wrapper {
        position: relative;
    }
}