@import '../variables/color';

.Card {
    background-color: map-get($colors, 'secondairy');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;

    &:hover {
        transform: scale(.95);
        filter: brightness(.8);
    }

    &__name {
        font-size: 20px;
        font-weight: bold;
    }
}