@import './variables/color';
@import './variables/fonts';

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: map-get($fonts, 'primary'), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
}

h2,
h3,
h5,
h6 {
  font-size: 28px;
}

//Bootstrap overwrites
.navbar-collapse {
  transform: translate(-100%, -100%);
  transition: {
    property: transform, opacity;
    duration: 300ms;
    timing-function: ease;
  }

  @media screen and (min-width: 992px){
    transform: unset;
  }

  &.show {
    transform: translate(0,0);
  }
}