.Menu {
    position: sticky;
    top: 0px;
    height: 50px;
}

.Menu__outer {
    
}

.MenuItem {
    padding: 5px 20px;
    background-color: #005f80;
}

.MenuItem__name {
    color: white;
    font-weight: bold;
}

.MenuSection {
    visibility: hidden;
}

.MenuSection.active {
    visibility: visible;
}