.Sidebar {
    position: sticky;
    top: 50px;
    margin: 50px 0;
    padding: 20px;
    background-color: #d5eafd;
}

.Sidebar__title {
    font-size: 24px;
    font-weight: bold;
    color: #2882a0;
    border-bottom: 1px solid #2882a0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.Sidebar__categoryList {
    padding: 0;
    margin: 0;
}

.Sidebar__categoryItem {
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
    background-color: #2882a0;
    padding: 5px;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.Sidebar__categoryItem:hover {
    transform: scale(.99);
}

.Sidebar__categoryItem:last-of-type {
    margin-bottom: 0;
}

.Sidebar__categoryItem a {
    display: block;
}

.Sidebar__categoryItem a:hover {
    color: white;
}

.Sidebar__cta {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    min-width: 100%;
}

.Sidebar__ctaContent {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.Sidebar__ctaImageContainer {
    filter: brightness(.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.Sidebar__ctaImageContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

