@import '../variables/color';

.BacktoTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: map-get($colors, 'text');

    &:hover {
        filter: brightness(1.2);
    }

    @media screen and (min-width: 992px){
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
    }

    &__icon {
        color: white;
        font: {
            size: 20px;
        }

        @media screen and (min-width: 992px){
            font: {
                size: 30px;
            }
        }
    }
}