@import '../variables/color';

.Menu {
    background-color: map-get($colors, 'secondairy');
    font: {
        size: 16px;
        weight: bolder;
    }

    &__item {
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid map-get($colors, 'primary');
        }
    }

    &__dropdown {
        background-color: black;
    }
}