.Menu {
    display: flex;
}

.Menu__outer {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 100px;
    background-color: rgb(213, 234, 253);
    display: flex;
    align-items: flex-end;
}

.MenuItem {
    position: relative;
    cursor: pointer;
}

.MenuItem:hover {
    background-color: #2882a0;
}

.MenuItem__name {
    color: #353231;
    font-weight: bold;
    padding: 5px 20px;
}

.MenuSection {
    position: absolute;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #2882a0;
    top: 100%;
    width: 100%;
    left: 0;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.MenuSection__list {
    padding: 0;
    margin: 0;
}

.MenuSection__innerText {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
}

.MenuSection__list li {
    list-style-type: none;
    padding: 10px 0;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 300ms;
}

.MenuSection__list li:hover {
    padding: 10px 10px;
    border-left: 3px solid white;
}

.CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #005f80;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 120px;
    height: auto;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
}

.CTA:hover {
    background-color: #2882a0;
}

.Logo {
    display: inline-block;
    cursor: pointer;
}